@model CuentasFinal.Models.TIPOCLIENTE

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>TIPO CLIENTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TipoCliente1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoCliente1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdTipoCliente }) |
    @Html.ActionLink("Regresar", "Index")
</p>
