@{
    ViewBag.Title = "Datos del Grupo";
}
<h2>@ViewBag.Title.</h2>

<img src="~/Scripts/logo.jpg" width="200">

<address>
    Proyecto de Desarrollo Web<br />
    Universidad Mariano Galvez<br />
  
   
</address>

<address>
    <strong>Carlos Castellanos - Carnet: 1590 16 17055 </strong> <br />
    <strong>Edison Ortiz - Carnet: 1590 14 9597</strong><br />
    <strong>Luis Rodas - Carnet: 1590 16 7842 </strong> <br />
    <strong>Jhonatan Ramírez - Carnet: 1590 15 11385 </strong> <br />
    <strong>Estuardo Aguilar - Carnet: 1590 12 15602 </strong> <br />
</address>